<div class="footer__container">
  <div class="footer__body">
    <div class="footer__info">
      <h1>Igreja Central</h1>
      <span><strong>Endereço: </strong>{{endereco}}</span>
      <span>{{contato}}</span>
      <span>{{email}}</span>
    </div>
    <div class="footer__socialmidias">
      <h1>Nos encontre nas redes sociais</h1>
      <a href="">
        <div>
          <img src="https://static.vecteezy.com/system/resources/previews/018/930/572/non_2x/youtube-logo-youtube-icon-transparent-free-png.png" alt="">
          <span>Youtube: &#64;aigrejacentral</span>
        </div>
      </a>
      <a href="">
        <div>
          <img src="https://static.vecteezy.com/system/resources/previews/018/930/691/non_2x/instagram-logo-instagram-icon-transparent-free-png.png" alt="">
          <span>Instagran: &#64;aigrejacentral</span>
        </div>
      </a>
      <a href="">
        <div>
          <img src="https://static.vecteezy.com/system/resources/previews/018/930/463/non_2x/tiktok-logo-tikok-icon-transparent-tikok-app-logo-free-png.png" alt="">
          <span>Tiktok: &#64;aigrejacentral</span>
        </div>
      </a>
    </div>
  </div>
</div>
