<div class="card-group__conteiner">
  <div class="card-group__body">
    <app-card title="Eventos"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius quis felis sed blandit. In elementum pharetra odio, vitae tincidunt nisl auctor quis. Praesent ac fermentum tortor, porta viverra massa. Praesent porta sem quis enim sagittis eleifend."></app-card>
    <app-card title="Seja Voluntario"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius quis felis sed blandit. In elementum pharetra odio, vitae tincidunt nisl auctor quis. Praesent ac fermentum tortor, porta viverra massa. Praesent porta sem quis enim sagittis eleifend."></app-card>
    <app-card title="Casa de Oração"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius quis felis sed blandit. In elementum pharetra odio, vitae tincidunt nisl auctor quis. Praesent ac fermentum tortor, porta viverra massa. Praesent porta sem quis enim sagittis eleifend."></app-card>
  </div>
</div>
