<div class="nav-bar__container">
  <div class="nav-bar__body">
    <div class="nav-bar__logo">
      <h1>A Igreja Central</h1>
    </div>
    <div class="nav-bar__menu">
      <ul>
        <li><a [routerLink]="['']" [routerLinkActive]="['activated']" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a [routerLink]="['sobre']" [routerLinkActive]="['activated']" [routerLinkActiveOptions]="{exact: true}">A Central</a></li>
        <li><a href="">Online</a></li>
        <li><a href="">Álbum</a></li>
        <li><a href="">Doações</a></li>
      </ul>
    </div>
  </div>
</div>
