<div class="nav-bar__container">
  <div class="nav-bar__body">
    <div class="nav-bar__logo">
      <h1>A Igreja Central</h1>
    </div>
    <div class="nav-bar__menu">
      <ul>
        <li><a [routerLink]="['']" [routerLinkActive]="['activated']" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a href="">A Central</a></li>
        <li><a href="">Proposito</a></li>
        <li><a href="">Online</a></li>
        <li><a href="">Álbum</a></li>
        <li><a href="">Fale Conosco</a></li>
        <li><a href="">Doações</a></li>
      </ul>
    </div>
    <div class="nav-bar__user">
      <button class="nav-bar__signUp">Registrar</button>
      <button class="nav-bar__login" style="background-color: #010068; color: white;">Já sou membro</button>
    </div>
  </div>
</div>
