<div class="slideshow__container">
  <div class="slideshow__slides">
    <input type="radio" name="slideshow__radio-btn" id="radio1">
    <input type="radio" name="slideshow__radio-btn" id="radio2">
    <input type="radio" name="slideshow__radio-btn" id="radio3">

    <div class="slideshow__slide first">
      <img src="../../../assets/3-razões-para-deixar-as-luzes-acesas-no-momento-das-músicas-no-culto.jpg" alt="">
    </div>
    <div class="slideshow__slide">
      <img src="../../../assets/culto.jpg" alt="">
    </div>
    <div class="slideshow__slide">
      <img src="../../../assets/photo-1637615739656-ca10c4285c88.jpeg" alt="">
    </div>

    <div class="slideshow__navigation-auto">
      <div class="slideshow__auto-btn1"></div>
      <div class="slideshow__auto-btn2"></div>
      <div class="slideshow__auto-btn3"></div>
    </div>
  </div>

  <div class="slideshow__manual-navigation">
    <label for="radio1" class="slideshow__manual-btn"></label>
    <label for="radio2" class="slideshow__manual-btn"></label>
    <label for="radio3" class="slideshow__manual-btn"></label>
  </div>
</div>
