<div class="infos__container">
  <div class="infos__body">
    <div class="infos__agenda">
      <h1>Celebrações e Eventos</h1>
      <span>Todos os horarios da Familia Central<a href="">aqui</a>!</span>
    </div>
    <div class="infos__celebracaohorario">
      <h1>Cultos</h1>
      <span>Dom. 17hrs TRANSMISSÂO ONLINE</span>
    </div>
    <a href="">
      <div class="infos__contato">
        <img src="../../../assets/whatsapp.png" alt="" height="20px"><h1>FALE COM A CENTRAL</h1>
      </div>
    </a>
  </div>
</div>
